In [1]:
# Load the dataset 
import pandas as pd
data_2010 = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv', sep=',')

In [2]:
# Load the 2019 dataset
data_2019 = pd.read_csv('State_Drug_Utilization_Data_2019.csv')

In [3]:
# Look at the columns in the 2010 data
data_2010.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [4]:
# Look at the first 5 rows of the 2010 dataset
data_2010.head(5)

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.0,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.0,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.0,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.0,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.0,4/1,04/01/2010,NaN,NaN,NaN,51552080906

In [5]:
# Look at the columns in the 2019 data
data_2019.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Suppression Used',
       'Units Reimbursed', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [6]:
# Look at the first 5 rows of the 2019 dataset
data_2019.head(5)

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,FFSU,OK,597,140,90,2019,2,Tradjenta,False,"1,290",44,"18,486.68","18,392.18",94.5,4/1,04/01/2019,42.1497,-74.9384,POINT (-74.9384 42.1497),597014090
1,FFSU,AK,51672,4037,3,2019,4,ENALAPRIL,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2019,61.3850,-152.2683,POINT (-152.2683 61.385),51672403703
2,MCOU,UT,56,172,70,2019,1,COUMADIN,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,44.2853,-99.4632,POINT (-99.4632 44.2853),56017270
3,FFSU,IL,69097,817,3,2019,2,TOPIRAMATE,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2019,44.2394,-114.5103,POINT (-114.5103 44.2394),69097081703
4,FFSU,SD,832,580,11,2019,1,CLOBAZAM 1,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,18.2766,-66.3350,POINT (-66.335 18.2766),832058011

In [7]:
# Concatenate the two datasets using an inner join so that only the columns on both datasets are combined
combined = pd.concat([data_2010,data_2019], join='inner', ignore_index=True)
combined.columns

Index(['Utilization Type', 'State', 'Labeler Code', 'Product Code',
       'Package Size', 'Year', 'Quarter', 'Product Name', 'Units Reimbursed',
       'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [8]:
# Look at the total number of rows and columns for the combined data
combined.shape

(5032781, 20)

In [9]:
import numpy as np
# Import the numpy missing values
from numpy import NaN, NAN, nan

In [10]:
# Look at the total number of rows and columns for the 2010 data
data_2010.shape

(156220, 21)

In [11]:
# Count the missing values in the 2010 dataset
data_2010.isnull().sum()

Unnamed: 0                            0
Utilization Type                      0
State                                 0
Labeler Code                          0
Product Code                          0
Package Size                          0
Year                                  0
Quarter                               0
Product Name                         54
Units Reimbursed                      0
Suppression Used                      0
Number of Prescriptions               0
Total Amount Reimbursed               0
Medicaid Amount Reimbursed            0
Non Medicaid Amount Reimbursed        0
Quarter Begin                         0
Quarter Begin Date                    0
Latitude                          10804
Longitude                         10804
Location                          10804
NDC                                   0
dtype: int64

In [12]:
# Look at the total number of rows and columns for the 2019 data
data_2019.shape

(4876561, 20)

In [13]:
# Count the missing values in the 2019 dataset
data_2019.isnull().sum()

Utilization Type                        0
State                                   0
Labeler Code                            0
Product Code                            0
Package Size                            0
Year                                    0
Quarter                                 0
Product Name                          175
Suppression Used                        0
Units Reimbursed                  2602515
Number of Prescriptions           2602515
Total Amount Reimbursed           2602515
Medicaid Amount Reimbursed        2602515
Non Medicaid Amount Reimbursed    2602515
Quarter Begin                           0
Quarter Begin Date                      0
Latitude                           293700
Longitude                          293700
Location                           293700
NDC                                     0
dtype: int64

In [14]:
data_2019_null_data = data_2019[data_2019.isnull().any(axis=1)]
data_2019_null_data

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
1,FFSU,AK,51672,4037,3,2019,4,ENALAPRIL,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2019,61.3850,-152.2683,POINT (-152.2683 61.385),51672403703
2,MCOU,UT,56,172,70,2019,1,COUMADIN,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,44.2853,-99.4632,POINT (-99.4632 44.2853),56017270
3,FFSU,IL,69097,817,3,2019,2,TOPIRAMATE,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2019,44.2394,-114.5103,POINT (-114.5103 44.2394),69097081703
4,FFSU,SD,832,580,11,2019,1,CLOBAZAM 1,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,18.2766,-66.3350,POINT (-66.335 18.2766),832058011
5,MCOU,MA,93,8238,98,2019,1,IRBESARTAN,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,31.1801,-91.8749,POINT (-91.8749 31.1801),93823898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876536,MCOU,TN,3,2291,11,2019,1,Empliciti,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2019,41.6772,-71.5101,POINT (-71.5101 41.6772),3229111
4876538,FFSU,XX,68645,515,54,2019,3,AMLODIPINE,False,"276,974","5,360","29,791.34","26,406.72","3,384.62",7/1,07/01/2019,NaN,NaN,NaN,68645051554
4876545,MCOU,MI,70121,1238,1,2019,2,CYCLOPHOSP,True,NaN,NaN,NaN,NaN,NaN,4/1,04/01/2019,44.6074,-69.3977,POINT (-69.3977 44.6074),70121123801
4876558,MCOU,XX,32,1212,1,2019,1,"CREON 12,0",False,"1,540,988","6,917","4,669,286.69","4,456,923.25","212,363.44",1/1,01/01/2019,NaN,NaN,NaN,32121201
4876560,FFSU,XX,57664,502,89,2019,2,TIZANIDINE,False,"204,181.5","3,217","49,473","48,806.58",666.42,4/1,04/01/2019,NaN,NaN,NaN,57664050289

In [15]:
# Count the missing values in the combined dataset
combined.isnull().sum()

Utilization Type                        0
State                                   0
Labeler Code                            0
Product Code                            0
Package Size                            0
Year                                    0
Quarter                                 0
Product Name                          229
Units Reimbursed                  2602515
Suppression Used                        0
Number of Prescriptions           2602515
Total Amount Reimbursed           2602515
Medicaid Amount Reimbursed        2602515
Non Medicaid Amount Reimbursed    2602515
Quarter Begin                           0
Quarter Begin Date                      0
Latitude                           304504
Longitude                          304504
Location                           304504
NDC                                     0
dtype: int64

In [16]:
# Look at the total number of rows and columns for the combined data after the missing data has been removed
combined_cleaned = combined.dropna()
print(combined_cleaned.shape)

(2198250, 20)

In [17]:
combined_cleaned.isnull().sum()

Utilization Type                  0
State                             0
Labeler Code                      0
Product Code                      0
Package Size                      0
Year                              0
Quarter                           0
Product Name                      0
Units Reimbursed                  0
Suppression Used                  0
Number of Prescriptions           0
Total Amount Reimbursed           0
Medicaid Amount Reimbursed        0
Non Medicaid Amount Reimbursed    0
Quarter Begin                     0
Quarter Begin Date                0
Latitude                          0
Longitude                         0
Location                          0
NDC                               0
dtype: int64