In [1]:
# Load the dataset using Jupyter notebook
# For this assignment, I'm using the stocks dataset
import pandas as pd
stocks = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv', sep=',')

In [2]:
# Review the dataset
stocks

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,Nov 21 2019,GOOG - Alphabet Inc.,"1,301.35",-1.70 (-0.13%),"1,301.35","1,303.05","1,301.48","1,293.01 - 1,312.45","970.11 - 1,335.53","825,205","1,280,155",897.113B,1.01,27.93,46.6,NaN,N/A (N/A),"1,487.52"
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,"1,300.14",-1.72 (-0.13%),"1,300.14","1,301.86","1,299.25","1,290.75 - 1,311.04","977.66 - 1,333.92","1,058,179","1,296,875",897.098B,1.01,27.9,46.6,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),"1,459.33"
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.2,133.4,132.98 - 134.17,105.94 - 152.95,"2,732,256","3,483,052",118.534B,1.34,15.55,8.6,21-Jan-20,6.48 (4.86%),148.3
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.4,148.51 - 149.80,93.96 - 151.33,"16,125,077","22,813,109",1.14T,1.23,28.2,5.3,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,"28,768,117","25,813,040",1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,"4,175,426","5,924,769",4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,"206,184","236,257",1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.1,6.93 - 7.10,5.00 - 9.57,"3,880","34,352",72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.5
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,"167,075","193,042",1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71,66.26 - 71.20,35.00 - 89.54,"3,035,697","3,062,403",8.63B,0.54,NaN,-0.5,20-Feb-20,N/A (N/A),67.62

In [3]:
# Call the dtypes attribute to check the data types stored in each column of our dataframe
print(stocks.dtypes)

no                     int64
date                  object
company_name          object
price_at_close        object
price_change          object
price_after_hours     object
previous_close        object
today opened          object
price range           object
52 week range         object
volume                object
average volume        object
market cap            object
beta (3Y Monthly)    float64
PE Ratio              object
EPS                   object
earnings date         object
Dividend Yield        object
1Y target est         object
dtype: object

In [4]:
# import Python’s regex module
import re

In [5]:
# Which rows of the df stocks_company contain a hyphen '-'?
stocks['company_name'].str.contains('-', regex=True)

0        True
1        True
2        True
3        True
4        True
         ...
67900    True
67901    True
67902    True
67903    True
67904    True
Name: company_name, Length: 67905, dtype: bool

In [6]:
# In the column 'company_name', extract the stock symbol and add it to a new column named 'symbol'
stocks['symbol'] = stocks['company_name'].str.extract('([A-Z]\w{0,})', expand=True)
stocks['symbol']

0         GOOG
1        GOOGL
2          IBM
3         MSFT
4         AAPL
         ...
67900     FLEX
67901      MEI
67902      IEC
67903     MGLN
67904       ZS
Name: symbol, Length: 67905, dtype: object

In [7]:
# In the column 'company_name', extract only the company name without the symbol and add it to a new column named 'company_name_cleaned'
stocks['company_name_cleaned'] = stocks['company_name'].str.split('-').str[1]
stocks['company_name_cleaned']

0                                       Alphabet Inc.
1                                       Alphabet Inc.
2         International Business Machines Corporation
3                               Microsoft Corporation
4                                          Apple Inc.
                             ...
67900                                       Flex Ltd.
67901                       Methode Electronics, Inc.
67902                           IEC Electronics Corp.
67903                           Magellan Health, Inc.
67904                                   Zscaler, Inc.
Name: company_name_cleaned, Length: 67905, dtype: object

In [8]:
# Review the dataset to ensure the two columns were created at the end
stocks

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,...,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est,symbol,company_name_cleaned
0,1,Nov 21 2019,GOOG - Alphabet Inc.,"1,301.35",-1.70 (-0.13%),"1,301.35","1,303.05","1,301.48","1,293.01 - 1,312.45","970.11 - 1,335.53",...,"1,280,155",897.113B,1.01,27.93,46.6,NaN,N/A (N/A),"1,487.52",GOOG,Alphabet Inc.
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,"1,300.14",-1.72 (-0.13%),"1,300.14","1,301.86","1,299.25","1,290.75 - 1,311.04","977.66 - 1,333.92",...,"1,296,875",897.098B,1.01,27.9,46.6,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),"1,459.33",GOOGL,Alphabet Inc.
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.2,133.4,132.98 - 134.17,105.94 - 152.95,...,"3,483,052",118.534B,1.34,15.55,8.6,21-Jan-20,6.48 (4.86%),148.3,IBM,International Business Machines Corporation
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.4,148.51 - 149.80,93.96 - 151.33,...,"22,813,109",1.14T,1.23,28.2,5.3,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16,MSFT,Microsoft Corporation
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,...,"25,813,040",1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21,AAPL,Apple Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67900,67901,Apr 28 2020,FLEX - Flex Ltd.,9.11,+0.30 (+3.41%),9.11,8.81,9.11,8.87 - 9.31,5.36 - 14.00,...,"5,924,769",4.591B,1.88,NaN,-0.05,7-May-20,N/A (N/A),12.83,FLEX,Flex Ltd.
67901,67902,Apr 28 2020,"MEI - Methode Electronics, Inc.",29.84,+0.32 (+1.08%),29.84,29.52,30.19,29.70 - 30.75,21.76 - 41.70,...,"236,257",1.107B,1.43,9.72,3.07,"Jun 18, 2020 - Jun 22, 2020",0.44 (1.49%),33.33,MEI,"Methode Electronics, Inc."
67902,67903,Apr 28 2020,IEC - IEC Electronics Corp.,7.01,0.00 (0.00%),7.01,7.01,7.1,6.93 - 7.10,5.00 - 9.57,...,"34,352",72.812M,0.94,15.24,0.46,6-May-20,N/A (N/A),11.5,IEC,IEC Electronics Corp.
67903,67904,Apr 28 2020,"MGLN - Magellan Health, Inc.",55.11,-0.03 (-0.05%),55.11,55.14,54.74,53.28 - 56.21,30.60 - 81.04,...,"193,042",1.361B,0.97,24.17,2.28,11-May-20,N/A (N/A),67.67,MGLN,"Magellan Health, Inc."
67904,67905,Apr 28 2020,"ZS - Zscaler, Inc.",66.72,-3.75 (-5.32%),66.72,70.47,71,66.26 - 71.20,35.00 - 89.54,...,"3,062,403",8.63B,0.54,NaN,-0.5,20-Feb-20,N/A (N/A),67.62,ZS,"Zscaler, Inc."

In [9]:
# Look at the basic characteristics of the stocks df
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67905 entries, 0 to 67904
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   no                    67905 non-null  int64
 1   date                  67905 non-null  object
 2   company_name          67905 non-null  object
 3   price_at_close        67761 non-null  object
 4   price_change          67761 non-null  object
 5   price_after_hours     67761 non-null  object
 6   previous_close        67761 non-null  object
 7   today opened          67750 non-null  object
 8   price range           67756 non-null  object
 9   52 week range         67657 non-null  object
 10  volume                67752 non-null  object
 11  average volume        66584 non-null  object
 12  market cap            67298 non-null  object
 13  beta (3Y Monthly)     63163 non-null  float64
 14  PE Ratio              60220 non-null  object
 15  EPS                   64962 non-null  object
 16  earnings date         57611 non-null  object
 17  Dividend Yield        67625 non-null  object
 18  1Y target est         57931 non-null  object
 19  symbol                67905 non-null  object
 20  company_name_cleaned  67905 non-null  object
dtypes: float64(1), int64(1), object(19)
memory usage: 10.9+ MB

In [10]:
# Count the missing values in the stocks dataset
stocks.isnull().sum()

no                          0
date                        0
company_name                0
price_at_close            144
price_change              144
price_after_hours         144
previous_close            144
today opened              155
price range               149
52 week range             248
volume                    153
average volume           1321
market cap                607
beta (3Y Monthly)        4742
PE Ratio                 7685
EPS                      2943
earnings date           10294
Dividend Yield            280
1Y target est            9974
symbol                      0
company_name_cleaned        0
dtype: int64

In [11]:
# Remove the rows that have missing values on the price_at_close and previous_close columns
stocks_cleaned = stocks.dropna(subset=['price_at_close', 'previous_close'])
stocks_cleaned.isnull().sum()

no                          0
date                        0
company_name                0
price_at_close              0
price_change                0
price_after_hours           0
previous_close              0
today opened               11
price range                 9
52 week range             108
volume                      9
average volume           1177
market cap                463
beta (3Y Monthly)        4598
PE Ratio                 7541
EPS                      2800
earnings date           10151
Dividend Yield            140
1Y target est            9831
symbol                      0
company_name_cleaned        0
dtype: int64

In [12]:
# Separate the price_at_close and previous_close columns
price = stocks_cleaned[['price_at_close', 'previous_close']]
price

      price_at_close previous_close
0           1,301.35       1,303.05
1           1,300.14       1,301.86
2             133.84          133.2
3             149.48         149.62
4             262.01         263.19
...              ...            ...
67900           9.11           8.81
67901          29.84          29.52
67902           7.01           7.01
67903          55.11          55.14
67904          66.72          70.47

[67761 rows x 2 columns]

In [13]:
# Import the numpy package
import numpy as np

In [14]:
# Convert the columns in the price dataframe from an object to an integer
price.astype(float)

ValueError: could not convert string to float: '1,301.35'

In [ ]:
# Calculate the mean for each column in the price dataset
price.apply(np.mean)

In [ ]:
# Code below is test

In [ ]:
stocks_cleaned.apply(avg, axis=1, broadcast=None, raw=False, reduce=None, result_type=None, 
                     args=('price_at_close','previous_close'), **kwds)

In [ ]:
# Create a function that returns the mean, sum, mode, median, and range (separately)
# Run the function into your chosen data set using the .apply() method.
def avg_2(x, y):
    """Calculates the average of 2 numbers
    """
    return (x + y) / 2

In [ ]:
# apply our square function on the 'a' column

sq = df['a'].apply(my_sq)

print(sq)